.categories {
  color: white;
  font-size: medium;
  font-weight: normal;
}
.lists_wrapper {
  padding: 0 20px;
}
.row_lists {
  width: 100%;
}

.row_movies {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0;
}

.row_movies::-webkit-scrollbar {
  display: none;
}

.row_movie {
  max-height: 160px;
  width: auto;
  transition: transform 0.2s;
  object-fit: contain;
  border-radius: 4px;
}

.row_movie:hover {
  transform: scale(1.15);
}

.row_movieLarge {
  max-height: 250px;
}
