.banner_title {
  font-size: 50px;
}

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.banner_contents {
  margin-left: 3rem;
  padding-top: 140px;
  height: 190px;
}

.banner_button_1 {
  margin-top: 1rem;
  color: #000;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: white;
}

.banner_button_2 {
  margin-top: 1rem;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}

/* @media screen and (max-width: 768px) {
  .banner_fadeBottom {
    height: 72.5%;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #141414
    );
  }
}
@media screen and (min-width: 768px) {
  .banner_fadeBottom {
    height: 75%;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #141414
    );
  }
} */
