@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");

:root {
  --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--font-base);
  background-color: #111;
}
.subtitle {
  font-family: var(--font-second-base);
}
